<!DOCTYPE html>
<html>
<head>

	<title>Pradnya - Round1</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body background="background.jpg">
	<section id="banner" class="cf">
		<div class="wrapper">
			<div class="content">
				<h1 class="title">Pradnya'16</h1>
				<div class="info">
					<h3 class="box_heading">About</h3>
					<ul>
						<li>Current Round is MCQ's Round based on C/C++.</li>
						<li>Those who will qualify first round will advance for second round.</li>
					</ul>
				</div>

				<div class="info middle">
					<h3 class="box_heading">Scoring</h3>
					<ul>
						<li>Round will be conducted for 30 minutes.</li>
						<li>For first 25 minutes markings will be +2 for every correct answer and -1 for every wrong answer.</li>
						<li>In the last five minutes,users whose percentage of correct answers uptil 25 minutes  is greater than or equal to 50 will fetch +6 for every correct answer and -3 for every wrong answer for all remaining questions.</li>
						<li>Others will have same marking scheme</li>
					</ul>
				</div>

				<div class="info">
					<h3 class="box_heading">Rules</h3>
					<ul>
					<li>Its a team contest with max 2 members in a team.</li>
					<li>Those who qualified for next round will be contacted later.</li>
					<li>Any kind of plagiarism will lead to disqualification</li>
					</ul>
				</div>

				<div class="developer">
					<strong>Developers: </strong> Kunal Kakade, Hrishikesh Kulkarni, Prasad Satalkar, Sanika Shah
				</div>

				<div class="button_wrapper">
					<a href="/enter" class="button button_highlight button_large">Register</a>
				</div>
			</div>	
		</div>
	</section>

</body>
</html>		